
@{
    ViewData["Title"] = "Passenger Payment ";
}

<h1>Payment for bus fair</h1>

<h4>Please confirm payment method</h4>

<div class="container">
    <div class="row">
        <div class="col-md-7 border border-warning border-right-0 border-bottom-0 border-left-0 mt-2">
           
            <h4 class="p-2">Trip Summary</h4>
            <hr />
            <label></label>
           
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <a href="#"><img src="~/Img/FlutterWaveLogo.png" alt="FlutterWave" /></a>
        </div>
       
        <div class="col-5">
            <a href="#"><img src="~/Img/pay-with-paystack2.png" alt="Paystack" /></a>
        </div>
    </div>
</div>